<% @article.comments.each do |comment| %>
  <p>
    <%= comment.body %>
    <br>
    - <%= comment.user.username %>
    <br>
    <%  if comment.user.id == session[:user_id] %>
      <%= link_to 'Delete', [comment.article, comment],
          method: :delete,
          data: { confirm: 'Are you sure?' } %>
    <% end %>
  </p>
<% end %>

