<%= form_with(model: [ @article, @article.comments.build ], local: true) do |f| %>

    <%= f.text_area :body, :cols =>40, :rows => 5 %>
    <%= f.hidden_field :user_id, :value => session[:user_id] %>
     <div class="form-group">
        <%= f.submit %>
    </div>
<% end %>