<div class = "container">
  <div class = "page-header">
    <h1>My Life as a Warriors Dancer</h1>
  </div>

  <h3> Posts </h3>
    <ul>
      <% @articles.each do |article| %>
       <li> <%= link_to article.title %></li>
      <% end %>
    </ul>

    <img src= 'http://i.cdn.turner.com/drp/nba/warriors/sites/default/files/styles/main_gallery_photo__480_tall/public/hannie-01.jpg?itok=i1nwMnQP'/>
  </div>
<div>