<div class = "container">
  <div class = "page-header">
    <h1>My Life as a Warriors Dancer</h1>
  </div>
    <% if session[:user_id] == nil %>
      <h5> Login to view more! </h5>
    <% end %>
    <img class="img-thumbnail" width="404" height="536" class= 'img-responsive' src= 'http://i.cdn.turner.com/drp/nba/warriors/sites/default/files/styles/main_gallery_photo__480_tall/public/hannie-01.jpg?itok=i1nwMnQP'/>
  </div>
<div>